{
  // Configuration for JavaScript files
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    // Configuration for TypeScript files
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "extends": [
        "airbnb",
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:react/jsx-runtime",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "warn",
          {
            "tabWidth": 2,
            "singleQuote": true,
            "endOfLine": "auto",
            "printWidth": 120,
            "trailingComma": "es5",
            "semi": false,
            "overrides": [
              {
                "files": ["*.json", "*.config.js", ".eslintrc"],
                "options": {
                  "trailingComma": "none"
                }
              }
            ]
          }
        ],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "": "never"
          }
        ],
        "react/function-component-definition": "off",
        "react/destructuring-assignment": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "@typescript-eslint/comma-dangle": "off",
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "warn",
        "unused-imports/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
        "react/prop-types": "off",
        "no-else-return": "off",
        "object-shorthand": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "react-hooks/exhaustive-deps": "warn",
        "react/no-danger": "off",
        "global-require": "off",
        "import/order": "off",
        "react/jsx-key": "error",
        "react/no-array-index-key": "off",
        "react/no-unstable-nested-components": "off",
        "@typescript-eslint/no-shadow": "off"
      }
    },
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest", "jest-formatting", "testing-library"],
      "extends": ["plugin:jest/recommended", "plugin:jest-formatting/recommended", "plugin:testing-library/react"]
    }
  ]
}
